<div class="input-field" [class.comment-field]="name === 'comment'">
  <div class="input-field-header">
    <label class="input-field-label" [for]="name">
      <mat-icon *ngIf="icon" class="input-label-icon">{{ icon }}</mat-icon>
      {{ label }}
    </label>
    <span class="input-field-counter" [class.visible]="showCounter">
      {{ value.length || 0 }}/{{ getEffectiveMaxLength() }} {{ numbersOnly ? 'Stellen' : 'Zeichen' }}
    </span>
  </div>
  <div class="input-wrapper">
    <ng-container *ngIf="name === 'comment'; else standardInput">
      <textarea
        [id]="fieldId || name"
        [name]="name"
        [required]="required"
        [maxlength]="maxLength"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [attr.aria-label]="ariaLabel"
        class="input-field-value"
        [ngModel]="displayValue"
        (ngModelChange)="onInputChange($event)"
        (blur)="markAsTouched()"
        (focus)="onFocus()"
        rows="1"
      ></textarea>
    </ng-container>
    <ng-template #standardInput>
      <input
        [id]="fieldId || name"
        [name]="name"
        [type]="type"
        [required]="required"
        [maxlength]="unit ? maxLength + unit.length + 1 : maxLength"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [attr.aria-label]="ariaLabel"
        class="input-field-value"
        [ngModel]="displayValue"
        (ngModelChange)="onInputChange($event)"
        (blur)="markAsTouched()"
        (focus)="onFocus()"
        (keypress)="onKeyPress($event)"
      />
    </ng-template>
  </div>
</div>
