.empty-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  text-align: center;
  height: 100%;
  color: var(--color-text);
  width: 100%;

  .empty-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 10rem;
  }

  .empty-icon {
    font-size: 3.5rem;
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 0.5rem;
    opacity: 0.5;
    font-variation-settings:
      'FILL' 0,
      'wght' 100,
      'GRAD' -25,
      'opsz' 48;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  .empty-text {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .empty-subtext {
    font-size: var(--font-size);
    opacity: 0.7;
    margin: 0;
  }
}
