<div class="app-layout">
  <div class="sticky-header">
    <div class="full-width-wrapper">
      <div class="app-container">
        <app-navbar *ngIf="authService.isLoggedIn()" class="navbar"></app-navbar>
      </div>
    </div>

    <div class="full-width-wrapper">
      <div class="app-container header-toolbar-container" *ngIf="authService.isLoggedIn()">
        <h1 class="font-main">{{ headerService.title() }}</h1>
        <app-toolbar *ngIf="showToolbar"></app-toolbar>
      </div>
    </div>
  </div>
  
  <main class="scrollable-content" *ngIf="authService.isLoggedIn()">
    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <router-outlet *ngIf="!authService.isLoggedIn()"></router-outlet>
</div>