:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 50vh; // Add padding at the bottom equal to bottom sheet height on mobile

  @media (min-width: 768px) {
    padding-bottom: 0; // Remove padding on desktop
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
