<div class="toolbar" aria-label="Werkzeugleiste" i18n-aria-label="@@Toolbar">

<button class="button button-label button-highlight-sub" tabindex="0"
        aria-label="Abbrechen" i18n-aria-label="@@ButtonCancelAriaLabel"
        matTooltip="Abbrechen" i18n-matTooltip="@@ButtonCancelTooltip"
        (click)="onEscapeKey()">
  <mat-icon>close</mat-icon>
  <span i18n="@@ButtonCancel">Abbrechen</span>
</button>

  <button
    class="button button-label button-highlight-main"
    tabindex="0"
    aria-label="Speichern"
    i18n-aria-label="@@ButtonSaveAriaLabel"
    matTooltip="Speichern"
    i18n-matTooltip="@@ButtonSaveTooltip"
    (click)="onSave()">
    <mat-icon>check</mat-icon>
    <span i18n="@@ButtonSave">Speichern</span>
  </button>

</div>

<div class="scrollable-content" aria-label="Scrollbarer Inhalt" i18n-aria-label="@@ScrollableContent">

  <form (ngSubmit)="onSave()">
    <div class="form-group">
      <app-input-field
        [(ngModel)]="article.name"
        name="articleName"
        [label]="'Name'"
        [maxLength]="maxLengthName"
        [required]="true">
      </app-input-field>

      <app-input-field
        [(ngModel)]="article.number"
        name="articleNumber"
        [label]="'Nummer'"
        [maxLength]="maxLengthNumber"
        [required]="true">
      </app-input-field>

      <app-input-field
        [(ngModel)]="article.customer"
        name="articleCustomer"
        [label]="'Kunde'"
        [maxLength]="maxLengthCustomer"
        [required]="true">
      </app-input-field>

      <app-input-field
        [(ngModel)]="article.surface"
        name="articleSurface"
        [label]="'Fläche'"
        [maxLength]="maxLengthSurface"
        [required]="true">
      </app-input-field>

      <app-input-field
        [(ngModel)]="article.dripOff"
        name="articleDripOff"
        [label]="'Abtropfen'"
        [maxLength]="maxLengthDripOff"
        [required]="true">
      </app-input-field>

      <app-input-field
        [(ngModel)]="article.anodic"
        name="articleAnodic"
        [label]="'Anodisch'"
        [maxLength]="maxLengthAnodic"
        [required]="true">
      </app-input-field>

      <app-input-field
        [(ngModel)]="article.comment"
        name="articleComment"
        [label]="'Bemerkung'"
        [maxLength]="maxLengthComment">
      </app-input-field>
    </div>
  </form>

  <div class="positions-container">
    <div class="positions-header">
      <h3>Verfügbare Positionen</h3>
    </div>
    
    <div class="positions-grid">
      <div *ngFor="let position of positionService.orderedPositions()" class="position-card">
        <div class="position-header">
          <span class="position-number">{{ position.number }}</span>
          <span class="position-name">{{ position.name }}</span>
        </div>
        <div class="position-details">
          <div *ngIf="position.flightbar">
            <span>Flightbar</span>
            <span>{{ position.flightbar }}</span>
          </div>
          <div *ngIf="position.articleName">
            <span>Artikel</span>
            <span>{{ position.articleName }}</span>
          </div>
          <div *ngIf="position.customerName">
            <span>Kunde</span>
            <span>{{ position.customerName }}</span>
          </div>
          <div>
            <span>Temperatur</span>
            <span>{{ position.hasTemperature ? 'Ja' : 'Nein' }}</span>
          </div>
          <div>
            <span>Strom</span>
            <span>{{ position.hasCurrent ? 'Ja' : 'Nein' }}</span>
          </div>
          <div>
            <span>Spannung</span>
            <span>{{ position.hasVoltage ? 'Ja' : 'Nein' }}</span>
          </div>
          <div *ngIf="position.presetCurrent">
            <span>Vorgabe Strom</span>
            <span>{{ position.presetCurrent }}</span>
          </div>
          <div *ngIf="position.presetVoltage">
            <span>Vorgabe Spannung</span>
            <span>{{ position.presetVoltage }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

