<h1 i18n="@@ArticlesDataHeader">Artikeldaten</h1>

<div class="toolbar" aria-label="Werkzeugleiste" i18n-aria-label="@@Toolbar">

<button class="button button-label button-highlight-sub"
        aria-label="Abbrechen" i18n-aria-label="@@ButtonCancelAriaLabel"
        matTooltip="Abbrechen" i18n-matTooltip="@@ButtonCancelTooltip">
  <mat-icon>close</mat-icon>
  <span i18n="@@ButtonCancel">Abbrechen</span>
</button>

<button class="button button-label button-highlight-main"
        aria-label="Speichern" i18n-aria-label="@@ButtonSaveAriaLabel"
        matTooltip="Speichern" i18n-matTooltip="@@ButtonSaveTooltip">
  <mat-icon>check</mat-icon>
  <span i18n="@@ButtonSave">Speichern</span>
</button>

<!--  <button class="button"-->
<!--          aria-label="Abbrechen" i18n-aria-label="@@ButtonCancelAriaLabel"-->
<!--          matTooltip="Abbrechen" i18n-matTooltip="@@ButtonCancelTooltip">-->
<!--  <mat-icon>close</mat-icon>-->
<!--</button>-->

<!--  <button disabled class="button button-label"-->
<!--          aria-label="Abbrechen" i18n-aria-label="@@ButtonCancelAriaLabel"-->
<!--          matTooltip="Abbrechen" i18n-matTooltip="@@ButtonCancelTooltip">-->
<!--  <mat-icon>close</mat-icon>-->
<!--  <span i18n="@@ButtonCancel">Deaktiviert</span>-->
<!--</button>-->

  </div>

<div class="scrollable-content" aria-label="Scrollbarer Inhalt" i18n-aria-label="@@ScrollableContent">
  <div class="content">

    <h2>Scrollable Content Area</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.</p>
    <p>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.</p>
    <p>Suspendisse potenti. Cras sagittis. Vestibulum fringilla pede sit amet augue.</p>
    <p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
    <p>Mauris sollicitudin fermentum libero. Praesent ut ligula non mi varius sagittis.</p>
    <p>Donec elit libero, sodales nec, volutpat a, suscipit non, turpis.</p>

  </div>
</div>

