<h1 i18n="@@ArticlesDataHeader">Artikeldaten</h1>

<div class="toolbar" aria-label="Werkzeugleiste" i18n-aria-label="@@Toolbar">

<button class="button button-label button-highlight-sub" tabindex="0"
        aria-label="Abbrechen" i18n-aria-label="@@ButtonCancelAriaLabel"
        matTooltip="Abbrechen" i18n-matTooltip="@@ButtonCancelTooltip"
        (click)="onEscapeKey()">
  <mat-icon>close</mat-icon>
  <span i18n="@@ButtonCancel">Abbrechen</span>
</button>

<button class="button button-label button-highlight-main" tabindex="0"
        aria-label="Speichern" i18n-aria-label="@@ButtonSaveAriaLabel"
        matTooltip="Speichern" i18n-matTooltip="@@ButtonSaveTooltip">
  <mat-icon>check</mat-icon>
  <span i18n="@@ButtonSave">Speichern</span>
</button>

<!--  <button class="button"-->
<!--          aria-label="Abbrechen" i18n-aria-label="@@ButtonCancelAriaLabel"-->
<!--          matTooltip="Abbrechen" i18n-matTooltip="@@ButtonCancelTooltip">-->
<!--  <mat-icon>close</mat-icon>-->
<!--</button>-->

<!--  <button disabled class="button button-label"-->
<!--          aria-label="Abbrechen" i18n-aria-label="@@ButtonCancelAriaLabel"-->
<!--          matTooltip="Abbrechen" i18n-matTooltip="@@ButtonCancelTooltip">-->
<!--  <mat-icon>close</mat-icon>-->
<!--  <span i18n="@@ButtonCancel">Deaktiviert</span>-->
<!--</button>-->

  </div>

<div class="scrollable-content" aria-label="Scrollbarer Inhalt" i18n-aria-label="@@ScrollableContent">



<!--  <div class="input-field">-->
<!--    <div class="input-field-header">-->
<!--      <label [for]="fieldId" class="input-field-label" i18n>{{ label }}</label>-->
<!--      <div-->
<!--        class="input-field-counter"-->
<!--        i18n-->
<!--        [ngClass]="{-->
<!--        'visible': isFocused || (inputValue && inputValue.length > 0),-->
<!--        'flash-limit': flashCounter-->
<!--      }">-->
<!--        {{ inputValue?.length || 0 }} / {{ maxLength }} Zeichen-->
<!--      </div>-->
<!--    </div>-->

<!--    <input-->
<!--      [(ngModel)]="inputValue"-->
<!--      [id]="fieldId"-->
<!--      class="input-field-value"-->
<!--      (input)="onInputChange()"-->
<!--      (focus)="isFocused = true"-->
<!--      (blur)="isFocused = false"-->
<!--      [placeholder]="placeholder"-->
<!--      [maxlength]="maxLength"-->
<!--      [attr.aria-label]="ariaLabel"-->
<!--      [ngClass]="{ 'flash-limit': flashCounter }">-->
<!--  </div>-->


  <app-input-field
    [(inputValue)]="articleName"
    [maxLength]="maxLengthName"
    [placeholder]="'max. ' + maxLengthName + ' Zeichen'"
    [ariaLabel]="'Bezeichnung Artikel max. ' + maxLengthName + ' Zeichen'"
    label="Bezeichnung"
    fieldId="InputFieldNameArticle">
  </app-input-field>


  <div class="input-field-group">

  <app-input-field
    [(inputValue)]="articleSurface"
    [maxLength]="maxLengthSurface"
    [placeholder]="'max. ' + maxLengthSurface + ' Zeichen'"
    [ariaLabel]="'Fläche Artikel max. ' + maxLengthSurface + ' Zeichen'"
    label="Fläche"
    fieldId="InputFieldSurfaceArticle">
  </app-input-field>

  <app-input-field
    [(inputValue)]="articleDripoff"
    [maxLength]="maxLengthDripoff"
    [placeholder]="'max. ' + maxLengthDripoff + ' Zeichen'"
    [ariaLabel]="'Abtropfen Artikel max. ' + maxLengthDripoff + ' Zeichen'"
    label="Abtropfen"
    fieldId="InputFieldDripoffArticle">
  </app-input-field>

  <app-input-field
    [(inputValue)]="articleAnodic"
    [maxLength]="maxLengthAnodic"
    [placeholder]="'max. ' + maxLengthAnodic + ' Zeichen'"
    [ariaLabel]="'Anodisch Artikel max. ' + maxLengthAnodic + ' Zeichen'"
    label="Anodisch"
    fieldId="InputFieldAnodicArticle">
  </app-input-field>

  </div>


  <app-input-field
    [(inputValue)]="articleComment"
    [maxLength]="maxLengthComment"
    [placeholder]="'max. ' + maxLengthComment + ' Zeichen'"
    [ariaLabel]="'Kommentar Artikel max. ' + maxLengthComment + ' Zeichen'"
    label="Bemerkung"
    fieldId="InputFieldCommentArticle">
  </app-input-field>



</div>

