<div class="positions-container">
  <div class="positions-header">
    <h3>Verfügbare Positionen</h3>
  </div>
  
  <div class="positions-grid">
    <div *ngFor="let position of positionService.orderedPositions()" class="position-card">
      <div class="position-header">
        <span class="position-name">{{ position.name }}</span>
        <button class="button button-label button-highlight-main">
          <mat-icon>add</mat-icon>
          <span>Hinzufügen</span>
        </button>
      </div>
      <div class="position-details">
        <div *ngIf="position.flightbar">
          <span>Flightbar</span>
          <span>{{ position.flightbar }}</span>
        </div>
        <div>
          <span>Temperatur</span>
          <span>{{ position.hasTemperature ? 'Ja' : 'Nein' }}</span>
        </div>
        <div>
          <span>Strom</span>
          <span>{{ position.hasCurrent ? 'Ja' : 'Nein' }}</span>
        </div>
        <div>
          <span>Spannung</span>
          <span>{{ position.hasVoltage ? 'Ja' : 'Nein' }}</span>
        </div>
        <div *ngIf="position.presetCurrent">
          <span>Vorgabe Strom</span>
          <span>{{ position.presetCurrent }}</span>
        </div>
        <div *ngIf="position.presetVoltage">
          <span>Vorgabe Spannung</span>
          <span>{{ position.presetVoltage }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
