<button mat-icon-button (click)="toggleEdit()">
  <mat-icon>{{ enableEdit() ? 'edit_off' : 'edit' }}</mat-icon>
</button>
<button (click)="increaseColumns()">+</button>
<button (click)="decreaseColumns()">-</button>

<div cdkDropListGroup>
  <div class="overview-container">
    @for (column of columns(); track $index; let index = $index) {  
      <div cdkDropList [cdkDropListData]="column" class="overview-list" (cdkDropListDropped)="drop($event, index)">
        <div>spalte {{index + 1}}</div>
        @for (position of column; track position.number) {
          <div class="list-item" cdkDrag [cdkDragDisabled]="!enableEdit()" [class.draggable]="enableEdit()">
            <app-position  [position]="position"></app-position>
          </div>
        }
      </div>
    }
  </div>
</div>