<div *ngIf="enableEdit() && !(isMobile() && newPosition)"> 
  <button *ngIf="!isMobile() && enableEdit()" 
    (click)="increaseColumns()">Linie hinzufügen</button>
  <button *ngIf="(columns().length > 1) && !isMobile() && enableEdit()" 
    (click)="decreaseColumns()">Linie löschen</button>
  <button *ngIf="enableEdit()" (click)="addPosition()">hinzufügen</button>
  <button *ngIf="enableEdit()" (click)="orderPositions()">Reihenfolge</button>
  <button *ngIf="enableEdit()" (click)="deletePositions()">löschen</button>
  <button *ngIf="enableEdit()" (click)="saveChanges()">Speichern</button>
  <button *ngIf="enableEdit()" (click)="cancelChanges()">Abbrechen</button>
</div>

<div *ngIf="!(isMobile() && newPosition)" cdkDropListGroup>
  <div class="overview-container" [style.--total-columns]="columnManagementService.getColumnCount()">
    @for (column of columns(); track $index; let index = $index) {
      <div cdkDropList [cdkDropListData]="column" class="overview-list" (cdkDropListDropped)="drop($event, index)">
        <div *ngIf="!enableMultiSelect()" class="app-position-header">
          <div class="column-name">Linie {{index + 1}}</div>
          <div class="column-name"></div>
          <div *ngIf="!enableOrder()" class="column-metrics">
            <div>min</div>
            <div>°C</div>
            <div>A</div>
            <div>V</div>
          </div>
        </div>
        @for (position of column; track position.id) {
          <div class="list-item" cdkDrag [cdkDragDisabled]="!enableOrder()" [class.draggable]="enableOrder()">
            <app-position [position]="position"></app-position>
          </div>
        }
      </div>
    }
  </div>
</div>

<app-add-position 
  *ngIf="newPosition" 
  [ngClass]="{'position-edit-overlay': !isMobile(),'position-edit-mobile': isMobile()}" 
  class="position-edit-overlay" [position]="newPosition" 
  (savePosition)="savePosition($event)" 
  (cancelEdit)="closeAddPosition()">
</app-add-position>
