<div class="position-container" [ngClass]="{'with-flightbar': position.flightbar}">
    <div class="flightbar-information">
        <div class="position-header">
            <div class="position-number">{{ position.number }}</div>
            <div class="position-name">{{ position.name }}</div>
        </div>
    
        <div class="position-details" *ngIf="position.flightbar">
            <div class="detail">
                <div>WT-Nr.</div>
                <div>{{ position.flightbar }}</div> 
            </div>
            <div class="detail">
                <div>Artikel</div>
                <div>{{ position.articleName }}</div>
            </div>
            <div class="detail">
                <div>Kunde</div>
                <div>{{ position.customerName }}</div>
            </div>
        </div>
    </div>
  
    <div class="position-metrics">
        <div class="metric">
            <mat-icon *ngIf="position.flightbar">timer</mat-icon>
            <span *ngIf="position.flightbar">min</span>
            <span *ngIf="position.flightbar">{{ position.time.preset }}</span>
            <span>{{ position.time.actual }}</span>
        </div>
        <div class="metric" *ngIf="position.flightbar">
            <mat-icon>thermostat</mat-icon>
            <span>°C</span>
            <ng-container *ngIf="position.temperature?.isPresent; else noTemperature">
                <span>{{ position.temperature.preset }}</span>
                <span>{{ position.temperature.actual }}</span>
            </ng-container>
            <ng-template #noTemperature>
                <span>-</span>
                <span>-</span>
            </ng-template>
        </div>
        <div class="metric" *ngIf="!position.flightbar">
            <span *ngIf="position.temperature?.isPresent">{{ position.temperature.actual }}</span>
            <span *ngIf="!position.temperature?.isPresent">-</span>
        </div>
        <div class="metric" *ngIf="position.flightbar">
            <mat-icon>bolt</mat-icon>
            <span>A</span>
            <span *ngIf="position.current.isPresent">{{ position.current.preset }}</span>
            <span *ngIf="position.current.isPresent">{{ position.current.actual }}</span>
            <span *ngIf="!position.current.isPresent">-</span>
            <span *ngIf="!position.current.isPresent">-</span>
        </div>
        <div class="metric" *ngIf="!position.flightbar">
            <span></span>
        </div>
        <div class="metric" *ngIf="position.flightbar">
            <mat-icon class="mat-icon-dark">bolt</mat-icon>
            <span>V</span>
            <span *ngIf="position.voltage.isPresent">{{ position.voltage.preset }}</span>
            <span *ngIf="position.voltage.isPresent">{{ position.voltage.actual }}</span>
            <span *ngIf="!position.voltage.isPresent">-</span>
            <span *ngIf="!position.voltage.isPresent">-</span>
        </div> 
        <div class="metric" *ngIf="!position.flightbar">
            <span></span>
        </div>
    </div>
</div>
  