<div class="content-container">
  @if (article) {
    <div class="details-container">
      <div class="content-wrapper">
        <app-article-card
          [article]="article"
          [showCheckbox]="false"
          [showHeader]="false"
          [isInDetails]="true"
          [isEditable]="isEditEnabled()">
        </app-article-card>

        <app-position-sequence
          [selectedPositions]="positions"
          [enableEdit]="isEditEnabled()"
          (selectedPositionsChange)="onSequenceChange($event)"
          #positionSequence>
        </app-position-sequence>
      </div>
    </div>
  } @else {
    <div>Loading article details...</div>
  }
</div>
