<div class="content-container">
  @if (article) {
    <div class="article-actions">
      <button class="button vonesco card-button" 
              [disabled]="isLoading()" 
              (click)="onLoad()">
        @if (isLoading()) {
          <mat-spinner diameter="20"></mat-spinner>
        } @else {
          <mat-icon>download</mat-icon>
        }
        <span>Laden</span>
      </button>
    </div>

    <div>
      <app-article-card
        [article]="article"
        [showCheckbox]="false"
        [showHeader]="false"
        [isInDetails]="true"
        [isEditable]="enableEdit()">
      </app-article-card>

      @if (positions.length > 0) {
        <div cdkDropList (cdkDropListDropped)="onDrop($event)" class="positions-container">
          @for (position of positions; track position.id) {
            <div cdkDrag class="position-wrapper">
              <app-position-card
                [position]="position"
                [isEditable]="enableEdit()"
                [showCheckbox]="false">
              </app-position-card>
            </div>
          }
        </div>
      }
    </div>

    <app-position-sequence
      [selectedPositions]="positions"
      (selectedPositionsChange)="onSequenceChange($event)">
    </app-position-sequence>
  } @else {
    <div>Loading article details...</div>
  }
</div>
