<p>articles-details works!</p>

<div *ngIf="article">
  <h1>Article Details</h1>
  
  <p>Title: {{ article.title }}</p>
  <p>Number: {{ article.number }}</p>
  <p>Customer: {{ article.customer }}</p>
  <p>Area: {{ article.area }}</p>
  <p>Drainage: {{ article.drainage }}</p>
  <p>Anodic: {{ article.anodic }}</p>
  <p>Note: {{ article.note }}</p>
  
  <p>Created: {{ article.createdDate }}</p>
  <p>Created By: {{ article.createdBy }}</p>
  
  <p>Modified: {{ article.modifiedDate }}</p>
  <p>Modified By: {{ article.modifiedBy }}</p>

  <div *ngIf="article.sequence && article.sequence.length > 0">
    <h2>Sequences</h2>
    <div *ngFor="let seq of article.sequence">
      <p>Position ID: {{ seq.positionId }}</p>
      <p>Order Number: {{ seq.orderNumber }}</p>
      <p>Time Preset: {{ seq.timePreset }}</p>
      <p>Current Preset: {{ seq.currentPreset }}</p>
      <p>Voltage Preset: {{ seq.voltagePreset }}</p>
    </div>
  </div>
</div>

<div *ngIf="!article">
  Loading article details...
</div>
