<div class="sidebar-sheet" 
     [class.show]="position && isInitialized" 
     [class.mobile]="isMobile"
     [class.enable-transitions]="enableTransitions">
  <div class="sheet-header">
    <h3>Neue Position</h3>
    <button class="button button-label button-highlight-sub" 
            (click)="cancelChanges()"
            aria-label="Schließen"
            matTooltip="Schließen"
            tabindex="0">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div class="sheet-content">
    <form *ngIf="position">
      <div class="form-group">
        <label for="position-number">Nummer</label>
        <input id="position-number" type="number" [(ngModel)]="position.number" name="positionNumber" />
      </div>
      <div class="form-group">
        <label for="position-name">Bezeichung</label>
        <input id="position-name" type="text" [(ngModel)]="position.name" name="positionName" />
      </div>
      
      <div class="buttons">
        <button class="button vonesco" 
                (click)="confirmChanges()"
                i18n="@@savePosition"
                aria-label="Position speichern"
                matTooltip="Position speichern"
                tabindex="0">
          <mat-icon>check</mat-icon>
          <span>Speichern</span>
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="position && isInitialized" 
     class="backdrop" 
     [class.show]="position && isMobile" 
     (click)="cancelChanges()"
     (keydown.escape)="cancelChanges()"
     tabindex="0"
     role="button"
     [attr.aria-label]="'Position schließen'">
</div>