<div class="sidebar-sheet" 
     [class.show]="position && isInitialized" 
     [class.mobile]="isMobile"
     [class.enable-transitions]="enableTransitions">
  <div class="sheet-header">
    <h3>Neue Position</h3>
    <button class="button button-label button-highlight-sub" 
            (click)="cancelChanges()"
            aria-label="Schließen"
            matTooltip="Schließen"
            tabindex="0">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div class="sheet-content">
    <form *ngIf="position">
      <div class="form-group">
        <app-input-field
          name="number"
          label="Nummer"
          [icon]="'tag'"
          [type]="'text'"
          [numbersOnly]="true"
          [maxLength]="3"
          [ngModel]="position.number"
          (ngModelChange)="onNumberChange($event)"
          [required]="true">
        </app-input-field>

        <app-input-field
          name="name"
          label="Bezeichnung"
          [icon]="'abc'"
          [type]="'text'"
          [maxLength]="30"
          [ngModel]="position.name"
          (ngModelChange)="onNameChange($event)"
          [required]="true">
        </app-input-field>
      </div>
      
      <div class="buttons">
        <button class="button button-label button-highlight-main"
                tabindex="0"
                [disabled]="!isFormValid()"
                (click)="onSave()">
          <mat-icon>check</mat-icon>
          <span>Speichern</span>
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="position && isInitialized" 
     class="backdrop" 
     [class.show]="position && isMobile" 
     (click)="cancelChanges()"
     (keydown.escape)="cancelChanges()"
     tabindex="0"
     role="button"
     [attr.aria-label]="'Position schließen'">
</div>