<div class="add-position">
  <h5>Neue Position erfassen</h5>
  <form *ngIf="position">
    <h6>Position</h6>
    <div class="form-group">
      <label for="position-number">Nummer</label>
      <input id="position-number" type="number" [(ngModel)]="position.number" name="positionNumber" />
    </div>
    <div class="form-group">
      <label for="position-name">Bezeichung</label>
      <input id="position-name" type="text" [(ngModel)]="position.name" name="positionName" />
    </div>
    
    <div class="buttons">
      <button class="button" (click)="confirmChanges()">
        <mat-icon>check</mat-icon>
        <span>Bestätigen</span>
      </button>
      <button class="button danger" (click)="cancelChanges()">
        <mat-icon>close</mat-icon>
        <span>Abbrechen</span>
      </button>
    </div>
  </form>
</div>