<div class="article-container"
     [class.in-details]="isInDetails"
     tabindex="0"
     role="button"
     (click)="onCardClick()"
     (keydown.enter)="onCardClick()"
     (keydown.space)="onCardClick(); $event.preventDefault()"
     [attr.aria-label]="'Artikel ' + getArticleValue('title') + ': Details anzeigen'"
     matTooltip="Artikel Details anzeigen"
     matTooltipPosition="above">
  <div class="article-header">
    <ng-container [ngSwitch]="true">
      <div class="header-content" *ngSwitchCase="isEditable && showCheckbox">
        <button mat-icon-button 
                class="check-circle" 
                (click)="onCheckboxClick($event)"
                [attr.aria-label]="isSelected ? 'Artikel abwählen' : 'Artikel auswählen'"
                matTooltip="{{ isSelected ? 'Artikel abwählen' : 'Artikel auswählen' }}"
                tabindex="0">
          <mat-icon class="check-circle-icon" [ngClass]="{ 'selected': isSelected }">
            {{ isSelected ? 'check_circle' : 'radio_button_unchecked' }}
          </mat-icon>
        </button>
        <h2>{{ getArticleValue('title') }}</h2>
      </div>

      <div class="header-content" *ngSwitchCase="isEditable && !showCheckbox && isInDetails">
        <h2>{{ getArticleValue('title') }}</h2>
      </div>

      <div class="header-wrapper" *ngSwitchDefault>
        <div class="header-content">
          <h2>{{ getArticleValue('title') }}</h2>
        </div>
        <button class="button vonesco card-button"
                [disabled]="isLoading()"
                (click)="onLoad(); $event.stopPropagation()"
                [attr.aria-label]="'Artikel ' + getArticleValue('title') + ' laden'"
                matTooltip="Artikel laden"
                tabindex="0">
          @if (isLoading()) {
            <mat-spinner diameter="20"></mat-spinner>
          } @else {
            <mat-icon>download</mat-icon>
          }
          <span>Laden</span>
        </button>
      </div>
    </ng-container>
  </div>

  <div class="article-details">
    <div class="detail-row" *ngIf="isInDetails">
      <mat-icon>deployed_code</mat-icon>
      <span class="label">Name</span>
      <ng-container *ngIf="!isEditable || !isInDetails; else editTitle">
        <span class="value">{{ getArticleValue('title') }}</span>
      </ng-container>
      <ng-template #editTitle>
        <app-input-field
          [alwaysOrange]="isInDetails"
          [name]="'title'"
          [ngModel]="getArticleValue('title')"
          [maxLength]="maxLengthName"
          (ngModelChange)="updateArticleInfo($event, 'title')"
        ></app-input-field>
      </ng-template>
    </div>

    <div class="timestamps-grid" *ngIf="!isInDetails">
      <div class="detail-row">
        <mat-icon>calendar_today</mat-icon>
        <span class="label">Erstellt</span>
        <span class="value">{{ formatDate(getArticleValue('createdDate')) }}</span>
      </div>
      
      <div class="detail-row">
        <mat-icon>calendar_today</mat-icon>
        <span class="label">Geändert</span>
        <span class="value">{{ formatDate(getArticleValue('modifiedDate')) }}</span>
      </div>
    </div>

    <div class="details-grid">
      <div class="detail-group">
        <div class="detail-row">
          <mat-icon>tag</mat-icon>
          <span class="label">Nummer</span>
          <ng-container *ngIf="!isEditable || !isInDetails; else editNumber">
            <span class="value">{{ getArticleValue('number') }}</span>
          </ng-container>
          <ng-template #editNumber>
            <app-input-field
              [alwaysOrange]="isInDetails"
              [name]="'number'"
              [ngModel]="getArticleValue('number')"
              (ngModelChange)="updateArticleInfo($event, 'number')"
              [maxLength]="maxLengthNumber"
              [numbersOnly]="true"
            ></app-input-field>
          </ng-template>
        </div>
        
        <div class="detail-row">
          <mat-icon>business</mat-icon>
          <span class="label">Kunde</span>
          <ng-container *ngIf="!isEditable || !isInDetails; else editCustomer">
            <span class="value">{{ getArticleValue('customer') }}</span>
          </ng-container>
          <ng-template #editCustomer>
            <app-input-field
              [alwaysOrange]="isInDetails"
              [name]="'customer'"
              [ngModel]="getArticleValue('customer')"
              [maxLength]="maxLengthCustomer"
              (ngModelChange)="updateArticleInfo($event, 'customer')"
            ></app-input-field>
          </ng-template>
        </div>

        <div class="detail-row">
          <mat-icon>square_foot</mat-icon>
          <span class="label">Fläche</span>
          <ng-container *ngIf="!isEditable || !isInDetails; else editArea">
            <span class="value">{{ formatValue(getArticleValue('area'), 'area') }}</span>
          </ng-container>
          <ng-template #editArea>
            <app-input-field
              [alwaysOrange]="isInDetails"
              [name]="'area'"
              [ngModel]="getArticleValue('area')"
              (ngModelChange)="updateArticleInfo($event, 'area')"
              [maxLength]="maxLengthArea"
              [numbersOnly]="true"
              [unit]="'dm²'"
            ></app-input-field>
          </ng-template>
        </div>

        <div class="detail-row">
          <mat-icon>water_drop</mat-icon>
          <span class="label">Abtropfen</span>
          <ng-container *ngIf="!isEditable || !isInDetails; else editDrainage">
            <span class="value">{{ formatValue(getArticleValue('drainage'), 'drainage') }}</span>
          </ng-container>
          <ng-template #editDrainage>
            <app-input-field
              [alwaysOrange]="isInDetails"
              [name]="'drainage'"
              [ngModel]="getArticleValue('drainage')"
              (ngModelChange)="updateArticleInfo($event, 'drainage')"
              [maxLength]="maxLengthDrainage"
              [numbersOnly]="true"
              [unit]="'%'"
            ></app-input-field>
          </ng-template>
        </div>

        <div class="detail-row">
          <mat-icon>note</mat-icon>
          <span class="label">Bemerkung</span>
          <ng-container *ngIf="!isEditable || !isInDetails; else editNote">
            <span class="value">{{ getArticleValue('note') }}</span>
          </ng-container>
          <ng-template #editNote>
            <app-input-field
              [alwaysOrange]="isInDetails"
              [name]="'note'"
              [ngModel]="getArticleValue('note')"
              [maxLength]="maxLengthNote"
              (ngModelChange)="updateArticleInfo($event, 'note')"
            ></app-input-field>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
