<div class="article-container"
     tabindex="0"
     role="button"
     (click)="onCardClick()"
     (keydown.enter)="onCardClick()"
     (keydown.space)="onCardClick()">
  <div class="article-header" *ngIf="!isInDetails">
    <mat-checkbox *ngIf="showCheckbox"
      [(ngModel)]="article.selected"
      (click)="$event.stopPropagation()">
    </mat-checkbox>
    <h2>{{ article.title }}</h2>
    <button class="button vonesco card-button"
            [disabled]="isLoadButtonDisabled"
            (click)="onLoad(); $event.stopPropagation()">
      <mat-icon>download</mat-icon>
      <span>Laden</span>
    </button>
  </div>

  <div class="article-details">
    <div class="detail-row" *ngIf="isInDetails">
      <mat-icon>deployed_code</mat-icon>
      <span class="label">Name</span>
      <ng-container *ngIf="!isEditable; else editTitle">
        <span class="value">{{ article.title }}</span>
      </ng-container>
      <ng-template #editTitle>
        <input class="value-input"
               type="text"
               [value]="article.title"
               (focus)="selectInputContent($event)"
               (click)="selectInputContent($event)"
               (input)="updateArticleInfo($event, 'title')" />
      </ng-template>
    </div>

    <div class="timestamps-grid">
      <div class="detail-row">
        <mat-icon>calendar_today</mat-icon>
        <span class="label">Created:</span>
        <span class="value">{{ article.createdDate }}, {{ article.createdBy }}</span>
      </div>
      
      <div class="detail-row">
        <mat-icon>calendar_today</mat-icon>
        <span class="label">Modified:</span>
        <span class="value">{{ article.modifiedDate }}, {{ article.modifiedBy }}</span>
      </div>
    </div>

    <div class="details-grid">
      <div class="detail-group">
        <div class="detail-row">
          <mat-icon>tag</mat-icon>
          <span class="label">Nummer</span>
          <ng-container *ngIf="!isEditable; else editNumber">
            <span class="value">{{ article.number }}</span>
          </ng-container>
          <ng-template #editNumber>
            <input class="value-input"
                   type="text"
                   [value]="article.number"
                   (focus)="selectInputContent($event)"
                   (click)="selectInputContent($event)"
                   (input)="updateArticleInfo($event, 'number')" />
          </ng-template>
        </div>
        <div class="detail-row">
          <mat-icon>business</mat-icon>
          <span class="label">Kunde</span>
          <ng-container *ngIf="!isEditable; else editCustomer">
            <span class="value">{{ article.customer }}</span>
          </ng-container>
          <ng-template #editCustomer>
            <input class="value-input"
                   type="text"
                   [value]="article.customer"
                   (focus)="selectInputContent($event)"
                   (click)="selectInputContent($event)"
                   (input)="updateArticleInfo($event, 'customer')" />
          </ng-template>
        </div>
        <div class="detail-row">
          <mat-icon>note</mat-icon>
          <span class="label">Bemerkung</span>
          <ng-container *ngIf="!isEditable; else editNote">
            <span class="value">{{ article.note }}</span>
          </ng-container>
          <ng-template #editNote>
            <input class="value-input"
                   type="text"
                   [value]="article.note"
                   (focus)="selectInputContent($event)"
                   (click)="selectInputContent($event)"
                   (input)="updateArticleInfo($event, 'note')" />
          </ng-template>
        </div>
      </div>

      <div class="detail-group">
        <div class="detail-row">
          <mat-icon>square_foot</mat-icon>
          <span class="label">Fläche</span>
          <ng-container *ngIf="!isEditable; else editArea">
            <span class="value">{{ article.area }}</span>
          </ng-container>
          <ng-template #editArea>
            <input class="value-input"
                   type="text"
                   [value]="article.area"
                   (focus)="selectInputContent($event)"
                   (click)="selectInputContent($event)"
                   (input)="updateArticleInfo($event, 'area')" />
          </ng-template>
        </div>
        <div class="detail-row">
          <mat-icon>water_drop</mat-icon>
          <span class="label">Abtropfen</span>
          <ng-container *ngIf="!isEditable; else editDrainage">
            <span class="value">{{ article.drainage }}</span>
          </ng-container>
          <ng-template #editDrainage>
            <input class="value-input"
                   type="text"
                   [value]="article.drainage"
                   (focus)="selectInputContent($event)"
                   (click)="selectInputContent($event)"
                   (input)="updateArticleInfo($event, 'drainage')" />
          </ng-template>
        </div>
        <div class="detail-row">
          <mat-icon>bolt</mat-icon>
          <span class="label">Anodisch</span>
          <ng-container *ngIf="!isEditable; else editAnodic">
            <span class="value">{{ article.anodic }}</span>
          </ng-container>
          <ng-template #editAnodic>
            <input class="value-input"
                   type="text"
                   [value]="article.anodic"
                   (focus)="selectInputContent($event)"
                   (click)="selectInputContent($event)"
                   (input)="updateArticleInfo($event, 'anodic')" />
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
