:host {
  display: block;
  width: 100%;
}

.mobile-hidden {
  @media (max-width: 600px) {
    display: none;
  }
}

.navbar {
  .app-container {
    padding: 0 var(--container-padding);
  }

  .button.edit-active {
    color: #FF6228; 
    
    mat-icon {
      color: #FF6228;
    }
  }
}

:host-context(.dark-theme) {
  .navbar .button.edit-active {
    color: #FFA786;
    
    mat-icon {
      color: #FFA786;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root:not(.light-theme) {
    .navbar .button.edit-active {
      color: #FFA786;
      
      mat-icon {
        color: #FFA786;
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 0.25rem 0;
  }
}