<nav class="navbar">
  <div class="left-section">
    <div class="navbar-list">
      <button class="button" (click)="navigateTo('/overview')">
        <mat-icon>view_list</mat-icon>
        Übersicht
      </button>
      <button class="button" (click)="navigateTo('/articles')">
        <mat-icon>deployed_code</mat-icon>
        Artikel
      </button>
    </div>
  </div>
  <div class="right-section">
    @if (!enableEdit()) {
      <button class="button" (click)="toggleEdit()">
        <mat-icon>edit</mat-icon>
        Bearbeiten
      </button>
    } @else {
      <button class="button vonesco" (click)="saveChanges()">
        <mat-icon>check</mat-icon>
        Speichern
      </button>
      <button class="button" (click)="cancelChanges()">
        <mat-icon>close</mat-icon>
        Abbrechen
      </button>
    }
    <button class="button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</nav>
