<div class="position-edit">
    <h2>Bearbeiten der Position</h2>
  
    <form *ngIf="position">
      <!-- Soll Werte -->
      <label for="preTime">Soll Zeit [Min]:</label>
      <input id="preTime" [(ngModel)]="position.time.preset" name="preTime" type="number" />
  
      <label for="preTemperature">Soll Temperatur [°C]:</label>
      <input id="preTemperature" [(ngModel)]="position.temperature.preset" name="preTemperature" type="number" />
  
      <label for="preVoltage">Soll Spannung [V]:</label>
      <!-- <input id="preVoltage" [(ngModel)]="position.voltage?.preset" name="preVoltage" type="number" /> -->
  
      <label for="preCurrent">Soll Strom [A]:</label>
      <!-- <input id="preCurrent" [(ngModel)]="position.current?.preset" name="preCurrent" type="number" /> -->
  
      <!-- Ist Werte -->
      <label for="actTime">Ist Zeit [Min]:</label>
      <input id="actTime" [(ngModel)]="position.time.actual" name="actTime" type="number" />
  
      <label for="actTemperature">Ist Temperatur [°C]:</label>
      <input id="actTemperature" [(ngModel)]="position.temperature.actual" name="actTemperature" type="number" />
  
      <label for="actVoltage">Ist Spannung [V]:</label>
      <!-- <input id="actVoltage" [(ngModel)]="position.voltage?.actual" name="actVoltage" type="number" /> -->
  
      <label for="actCurrent">Ist Strom [A]:</label>
      <!-- <input id="actCurrent" [(ngModel)]="position.current?.actual" name="actCurrent" type="number" /> -->
  
      <!-- Speichern und Abbrechen -->
      <button type="button" (click)="saveChanges()">Speichern</button>
      <button type="button" (click)="cancelChanges()">Abbrechen</button>
    </form>
  </div>
  