<h1 class="font-main" i18n="@@articlesHeader">Artikel</h1>

<app-toolbar></app-toolbar>

<div class="button-container">
  <button mat-raised-button 
          color="warn"
          [disabled]="!hasSelectedArticles()"
          (click)="deleteSelectedArticles()">
    Löschen
  </button>
  <button mat-raised-button 
          color="accent"
          [disabled]="!hasExactlyOneSelected()"
          (click)="loadSelectedArticle()">
    Laden
  </button>
</div>

<div *ngFor="let article of articles">
  <app-article-card 
    [article]="article"
    [showCheckbox]="true"
    (cardClick)="navigateToDetails($event)"
    (loadClick)="navigateToDetails(article.id)">
  </app-article-card>
</div>

<footer class="footer">
  <span>VONESCO</span>
</footer>

