.content-container {
  display: flex;
  flex-wrap: wrap;

  &.desktop-layout {
    flex-direction: row;
  }

  &.mobile-layout {
    flex-direction: column;
  }
}

.column {
  flex: 1;
  padding: 1rem;
  border: 1px solid var(--color-background);
  margin: 0.5rem;

  &.desktop-layout .column {
    width: calc(50% - 1rem);
  }

  &.mobile-layout .column {
    width: 100%;
  }
}

.article-pair-header {
  margin-bottom: 0.4em;
}

.article-columns {
  display: flex;
}

.article-column-labels,
.article-column-values {
  margin-right: 0.8em;
}

.article-column-label,
.article-column-value {
  margin-bottom: 0.4em;
}

.article-column-spacer {
  height: 0.8em;

}