<h1 class="font-main" i18n="@@articlesHeader">Artikel</h1>

<app-toolbar></app-toolbar>

<div class="article-actions">
  <button 
    mat-button 
    color="warn"
    [disabled]="!hasSelectedArticles()"
    (click)="deleteSelectedArticles()">
    Delete Selected
  </button>
</div>

<div *ngFor="let article of articles" class="article-card">
  <mat-card (click)="navigateToDetails(article.id)">
    <mat-card-header class="article-card">
      <mat-checkbox 
        [(ngModel)]="article.selected" 
        (click)="$event.stopPropagation()"
        class="article-checkbox">
      </mat-checkbox>
      <mat-card-title class="article-pair-header">
        {{ article.title }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="article-card">
      <div class="article-columns">
        <div class="article-column-labels">
          <div class="article-column-label">Nummer:</div>
          <div class="article-column-label">Kunde:</div>
          <div class="article-column-spacer"></div>
          <div class="article-column-label">Fläche:</div>
          <div class="article-column-label">Abtropfen:</div>
          <div class="article-column-label">Anodisch:</div>
          <div class="article-column-spacer"></div>
          <div class="article-column-label">Bemerkung:</div>
        </div>
        <div class="article-column-values">
          <div class="article-column-value">{{ article.number }}</div>
          <div class="article-column-value">{{ article.customer }}</div>
          <div class="article-column-spacer"></div>
          <div class="article-column-value">{{ article.area }}</div>
          <div class="article-column-value">{{ article.drainage }}</div>
          <div class="article-column-value">{{ article.anodic }}</div>
          <div class="article-column-spacer"></div>
          <div class="article-column-value">{{ article.note }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<footer class="footer">
  <span>VONESCO </span>
</footer>
