<div class="position-container" [ngClass]="{'with-flightbar': (position.flightbar || !collapsed)}" cdkDrag>
    <!-- Edit Mode Header -->
    <ng-container *ngIf="enableEdit(); else normalHeader">
        <button mat-icon-button class="check-circle" (click)="toggleSelection()" *ngIf="!enableOrder()">
            <mat-icon class="check-circle-icon" [ngClass]="{ 'selected': isSelected }">
                {{ isSelected ? 'check_circle' : 'radio_button_unchecked' }}
            </mat-icon>
        </button>
        <div class="position-header">
            <ng-container *ngIf="enableOrder(); else editInputs">
                <div class="position-number">{{ position.number }}</div>  
                <div class="position-name">{{ position.name }}</div> 
                <button mat-icon-button class="drag-handle" cdkDragHandle>
                    <mat-icon>drag_handle</mat-icon>
                </button>
            </ng-container>
            <ng-template #editInputs>
                <input class="position-number-input" type="text" inputmode="numeric" pattern="[0-9]" 
                       [value]="position.number" 
                       (focus)="selectInputContent($event)" 
                       (click)="selectInputContent($event)" 
                       (input)="updatePositionInfo($event, 'number')" />
                <input class="position-name-input" type="text" inputmode="text"
                       [value]="position.name" 
                       (focus)="selectInputContent($event)" 
                       (click)="selectInputContent($event)" 
                       (input)="updatePositionInfo($event, 'name')" /> 
            </ng-template>
        </div>
    </ng-container>

    <!-- Normal Header -->
    <ng-template #normalHeader>
        <div class="position-header" (click)="toggleCollapsed()">
            <div class="position-number">{{ position.number }}</div>
            <div class="position-name">{{ position.name }}</div>
        </div>
    </ng-template>

    <!-- Flightbar Information - Moved here -->
    <ng-container *ngIf="position.flightbar && !enableEdit() && !collapsed">
        <div class="position-details">
            <div class="detail">
                <div>WT-Nr.</div>
                <div>{{ position.flightbar }}</div> 
            </div>
            <div class="detail">
                <div>Artikel</div>
                <div>{{ position.articleName }}</div>
            </div>
            <div class="detail">
                <div>Kunde</div>
                <div>{{ position.customerName }}</div>
            </div>
        </div>
    </ng-container>

    <!-- Metrics Section -->
    <div class="position-metrics" [ngClass]="{'expanded': !collapsed}">
        <!-- Time -->
        <div class="metric">
            <ng-container *ngIf="!collapsed">
                <mat-icon>timer</mat-icon>
                <span>min</span>
                <input type="text" [value]="position.time.preset" 
                       (change)="updatePresetValue($event, '.TIME.PRESET')" />
            </ng-container>
            <span>{{ position.time.actual }}</span>
        </div>

        <!-- Temperature -->
        <div class="metric" *ngIf="position.temperature.isPresent || enableEdit()">
            <ng-container *ngIf="!collapsed">
                <mat-icon>thermostat</mat-icon>
                <span>°C</span>
                <input type="text" [value]="position.temperature.preset" 
                       (change)="updatePresetValue($event, '.TEMP.PRESET')" />
            </ng-container>
            <span>{{ position.temperature.actual }}</span>
            <button mat-icon-button *ngIf="enableEdit() && !enableOrder() && !enableMultiSelect()"
                    (click)="toggleIsPresent('temperature')">
                <mat-icon [ngClass]="{'present': position.temperature.isPresent}">thermostat</mat-icon>
            </button>
        </div>

        <!-- Current -->
        <div class="metric" *ngIf="position.current.isPresent || enableEdit()">
            <ng-container *ngIf="!collapsed">
                <mat-icon>bolt</mat-icon>
                <span>A</span>
                <input type="text" [value]="position.current.preset" 
                       (change)="updatePresetValue($event, '.current.preset')" />
            </ng-container>
            <span>{{ position.current.actual }}</span>
            <button mat-icon-button *ngIf="enableEdit() && !enableOrder() && !enableMultiSelect()"
                    (click)="toggleIsPresent('current')">
                <mat-icon [ngClass]="{'present': position.current.isPresent}">bolt</mat-icon>
            </button>
        </div>

        <!-- Voltage -->
        <div class="metric" *ngIf="position.voltage.isPresent || enableEdit()">
            <ng-container *ngIf="!collapsed">
                <mat-icon class="mat-icon-dark">bolt</mat-icon>
                <span>V</span>
                <input type="text" [value]="position.voltage.preset" 
                       (change)="updatePresetValue($event, '.voltage.preset')" />
            </ng-container>
            <span>{{ position.voltage.actual }}</span>
            <button mat-icon-button *ngIf="enableEdit() && !enableOrder() && !enableMultiSelect()"
                    (click)="toggleIsPresent('voltage')">
                <mat-icon [ngClass]="{'present': position.voltage.isPresent}" class="mat-icon-dark">bolt</mat-icon>
            </button>
        </div>
    </div>
</div>
  