.position-container {
  container-type: inline-size;
  color: var(--color-text);
  padding-left: 12px;
  border: 1px solid var(--color-main);
  border-radius: 16px;
  background-color: var(--color-main);
  transition: background-color 0.3s;
  display: flex;
  min-height: 32px;
  align-items: center;

  &.with-flightbar {
    padding-top: 12px;
    padding-bottom: 12px;

    .position-header {
      margin-bottom: 16px;
    }

    @container (width < 600px) {
      flex-direction: column;
      
      .position-metrics {
        margin-top: 16px;
      }
    }
  }

  .check-circle {
    margin-right: 8px;
    width: 32px;
    color: var(--color-sub-1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  .check-circle-icon {
    font-variation-settings: 'FILL' 1;
    color: var(--color-background);
    transition: color 0.3s ease, transform 0.3s ease;

    &.selected {
      font-variation-settings: 'FILL' 1;
      color: var(--color-vonesco-sub);
      transform: rotate(360deg);
    }
  }
  
  .drag-handle {
    margin-right: 8px;
  }

  .flightbar-information {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    width: 100%;

    input {
      border: none;
      color: var(--color-vonesco);
      font-size: inherit;
      font-style: inherit;
      font-weight: normal;
      width: auto;
      outline: none;
      text-align: left;
      margin: 0;
      padding: 0;
    }

    .position-number-input {
      width: 40px;
    }

    .position-name-input {
      width: 100%;
    }

    .position-header {
      display: flex;
      font-weight: normal;
      height: 100%;
      align-items: center;
      width: 100%;
      justify-content: flex-start;
    }

    .position-number-base {
      display: flex;
      width: 40px;
      height: 100%;
      align-items: center;
      justify-content: flex-start;
    }

    .position-name-base {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: flex-start;
    }

    .position-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding-bottom: 16px;
      
      .detail {
        display: grid;
        grid-template-columns: 70px auto;
      }
    }
  }

  .position-number {
    @extend .position-number-base;
    align-items: center; 
  }

  .position-name {
    @extend .position-name-base;
    align-items: center;
  }
}

.metric {
  @container (max-width: 400px) {
    .position-container:not(.with-flightbar) & {
      &:not(:has(button[mat-icon-button])) {
        display: none !important;
      }
    }
  }

  display: flex;
  align-items: center;
  gap: 12px;

  mat-icon {
    margin-bottom: 4px;
    margin-right: 2px;
  }

  span {
    color: var(--color-text);
  }

  input, span {
    margin: 0;
    padding: 0;
  }
}

.position-metrics {
  align-items: center;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;

  &.mobile-hidden {
    @container (width < 600px) {
      :not(.with-flightbar) & {
        &:not(:has(button[mat-icon-button])) {
          display: none !important;
        }
      }
    }
  }

  .metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    mat-icon {
      &.present {
        color: var(--color-vonesco);
      }

      &.not-present {
        color: var(--color-background);
      }
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .mat-icon-dark{
    font-variation-settings: 'FILL' 1;
  }

  input {
    border: none;
    text-align: center;
    color: var(--color-vonesco);
    font-size: inherit;
    width: 100%;
    outline: none;
  }
}
