.position-container {
  color: var(--color-text);
  padding-left: 12px;
  border: 1px solid var(--color-main);
  border-radius: 16px;
  background-color: var(--color-main);
  transition: background-color 0.3s;
  display: flex;

  &.with-flightbar {
    padding-top: 12px;
    padding-bottom: 12px;

    .position-header {
      margin-bottom: 16px;
    }
  }

  .check-circle {
    margin-right: 8px;
    width: 30px;
    color: var(--color-sub-1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  .icon {
    font-variation-settings: 'FILL' 1;
    color: var(--color-background);
    transition: color 0.3s ease, transform 0.3s ease;

    &.selected {
      font-variation-settings: 'FILL' 1;
      color: var(--color-vonesco-sub);
      transform: rotate(360deg);
    }
  }

  .flightbar-information {
    display: flex;
    flex-direction: column;
    flex: 1;

    input {
      border: none;
      color: var(--color-vonesco-sub);
      font-size: inherit;
      font-style: inherit;
      font-weight: bold;
      width: auto;
      outline: none;
      text-align: left;
      margin: 0;
      padding: 0;
    }

    .position-number-input {
      width: 40px;
    }

    .position-name-input {
      width: 100%;
    }
  }

  .position-header {
    display: flex;
    font-weight: bold;
  }

  .position-details {
    display: flex;
    flex-direction: column;

    .detail {
      display: grid;
      grid-template-columns: 70px auto;
    }
  }

  .position-number {
    display: flex;
    align-items: center;
    width: 40px;
    height: 100%;
  }

  .position-name {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .position-metrics {
    align-items: center;
    flex: 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    .metric {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      mat-icon {
        margin:0;
        padding:0;
        height : 40px;
        font-variation-settings: 'FILL' 0;
      }

      button {
        height: 40px;
        margin: 0;
        padding: 0;
      }

      .mat-icon-dark{
        font-variation-settings: 'FILL' 1;
      }

      input {
        border: none;
        text-align: center;
        color: var(--color-vonesco);
        font-size: inherit;
        width: 100%;
        outline: none;
      }
    }
  }

  .present {
    color: var(--color-vonesco);
  }

  .not-present {
    color: var(--color-background);
  }
}
