$metric-column-width: 100px;
$metric-padding-right: 8px;
$metrics-grid-gap: 8px;
$container-padding-right: 40px;
$container-padding-left: 12px;
$container-padding: 12px;
$mobile-breakpoint: 520px;
$position-number-width: 70px;

.position-container {
  color: var(--color-text);
  padding: $container-padding;
  border: 1px solid var(--color-main);
  border-radius: 16px;
  background-color: var(--color-main);
  transition: background-color 0.3s;
  display: flex;
  min-height: 32px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;

  .position-metrics {
    display: none !important;
  }

  &.with-flightbar {
    align-items: flex-start;
    padding-bottom: 12px;
    min-height: auto;

    .position-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;

      .position-name {
        font-size: 1.2em;
        font-weight: 500;
        padding-left: 0;
      }
    }

    .position-metrics {
      display: grid !important;
      align-items: flex-start;
      width: 100%;
      grid-template-columns: repeat(4, $metric-column-width);
      gap: $metrics-grid-gap;
      justify-content: end;
      padding-right: $container-padding-right;
    }
  }

  .check-circle {
    margin-right: 8px;
    width: 32px;
    color: var(--color-sub-1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  .check-circle-icon {
    font-variation-settings: 'FILL' 1;
    color: var(--color-background);
    transition: color 0.3s ease, transform 0.3s ease;

    &.selected {
      font-variation-settings: 'FILL' 1;
      color: var(--color-vonesco-sub);
      transform: rotate(360deg);
    }
  }

  .drag-handle {
    margin-right: 8px;
  }

  .flightbar-information {
    display: flex;
    flex-direction: column;
    flex: 1;

    input {
      border: none;
      color: var(--color-vonesco);
      font-size: inherit;
      font-style: inherit;
      font-weight: normal;
      width: auto;
      outline: none;
      text-align: left;
      margin: 0;
      padding: 0;
      height: 20px;
      line-height: 20px;
    }

    .position-number-input {
      width: 40px;
    }

    .position-name-input {
      width: 100%;
    }
  }

  .position-header {
    width: 100%;
    margin: 0;
    padding: 0 0 0 $container-padding-left;
    display: flex;
    align-items: center;
    gap: 8px;

    .position-number {
      width: $position-number-width;
    }
  }

  .position-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 4px 0 0;
    padding: 0 8px 0 $container-padding-left;

    .detail {
      display: grid;
      grid-template-columns: $position-number-width auto;
      gap: 8px;
    }
  }

  .position-number-base {
    display: flex;
    width: 40px;
    height: 100%;
  }

  .position-number {
    @extend .position-number-base;
    align-items: center;
  }

  .position-name-base {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .position-name {
    @extend .position-name-base;
    align-items: center;
  }

  .position-metrics {
    align-items: flex-start;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, $metric-column-width);
    gap: $metrics-grid-gap;
    justify-content: end;
    padding-right: $container-padding-right;
    
    @media (max-width: $mobile-breakpoint) {
      grid-template-columns: repeat(4, minmax(60px, 1fr));
      gap: 4px;
      padding-right: 20px;
      
      .metric {
        mat-icon {
          font-size: 24px;
          height: 24px;
          width: 24px;
          margin-bottom: 4px;
        }
        
        input, span {
          font-size: 0.9em;
        }
      }
    }
    
    &:not(.expanded) {
      height: 20px;
      align-items: center;
      
      .metric {
        min-height: unset;
        flex-direction: row;
        justify-content: flex-end;
        
        > *:not(:last-child) {
          display: none;
        }
      }
    }
    
    .metric {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      min-height: 80px;
      padding-right: 0;
      
      mat-icon {
        font-size: 32px;
        height: 32px;
        width: 32px;
        margin-bottom: 8px;
        padding-right: 0;
        font-weight: 300;
        font-variation-settings: 'wght' 300, 'FILL' 0;
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;

        &.mat-icon-dark {
          font-variation-settings: 'wght' 300, 'FILL' 1;
        }
      }

      button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      input {
        border: none;
        text-align: right;
        color: var(--color-vonesco);
        font-size: inherit;
        width: 100%;
        outline: none;
        padding-right: 0;
        direction: rtl;
      }

      span {
        text-align: right;
      }
    }
  }

  .present {
    color: var(--color-vonesco);
  }

  .not-present {
    color: var(--color-background);
  }
}
