@if (showToolbar()) {
  <div class="toolbar">
    <div class="toolbar-group">
      @if (showReorder) {
        <button class="button"
                (click)="reorder.emit()"
                [attr.aria-label]="isReorderMode ? 'Positionen' : 'Reihenfolge'"
                [matTooltip]="isReorderMode ? 'Positionen' : 'Reihenfolge'">
          <mat-icon>{{ isReorderMode ? 'radio_button_unchecked' : 'reorder' }}</mat-icon>
          <span>{{ isReorderMode ? 'Positionen' : 'Reihenfolge' }}</span>
        </button>
      }

      @if (showNavigateAdd) {
        <button class="button"
               (click)="onNavigateToAddArticle()"
               aria-label="Artikel hinzufügen" i18n-aria-label="@@ButtonAddArticleAriaLabel"
               matTooltip="Artikel hinzufügen" i18n-matTooltip="@@ButtonAddArticleTooltip">
          <mat-icon>add</mat-icon>
          <span i18n="@@ButtonAddArticle">Artikel hinzufügen</span>
        </button>
      }

      @if (showAdd && !isReorderMode) {
        <button class="button"
                (click)="add.emit()"
                aria-label="Hinzufügen" i18n-aria-label="@@ButtonAddAriaLabel"
                matTooltip="Hinzufügen" i18n-matTooltip="@@ButtonAddTooltip"
                [disabled]="addDisabled">
          <mat-icon>add</mat-icon>
          <span i18n="@@ButtonAdd">Hinzufügen</span>
        </button>
      }

      @if (showAddLine && isReorderMode) {
        <button class="button"
                [disabled]="addLineDisabled"
                (click)="addLine.emit()"
                aria-label="Linie hinzufügen"
                matTooltip="Linie hinzufügen">
          <mat-icon>add_circle</mat-icon>
          <span>Linie hinzufügen</span>
        </button>
      }

      @if (showLoad) {
        <button class="button vonesco"
                [disabled]="loadDisabled"
                (click)="load.emit()"
                aria-label="Laden" i18n-aria-label="@@ButtonLoadAriaLabel"
                matTooltip="Laden" i18n-matTooltip="@@ButtonLoadTooltip">
          <mat-icon>download</mat-icon>
          <span i18n="@@ButtonLoad">Laden</span>
        </button>
      }

      @if (showDeleteLine && isReorderMode) {
        <button class="button danger"
                [disabled]="deleteLineDisabled"
                (click)="deleteLine.emit()"
                aria-label="Linie löschen"
                matTooltip="Linie löschen">
          <mat-icon>remove_circle</mat-icon>
          <span>Linie löschen</span>
        </button>
      }

      @if (showDelete && !isReorderMode) {
        <button class="button danger"
                [disabled]="deleteDisabled"
                (click)="delete.emit()"
                aria-label="Löschen" i18n-aria-label="@@ButtonDeleteAriaLabel"
                matTooltip="Löschen" i18n-matTooltip="@@ButtonDeleteTooltip">
          <mat-icon>delete</mat-icon>
          <span i18n="@@ButtonDelete">Löschen</span>
        </button>
      }
    </div>
  </div>
}
