<mat-toolbar>
  <span i18n="@@navbarTitle"></span>


  <button mat-mini-fab class="icon-button" (click)="navigateToAddArticle()"
          aria-label="Artikel hinzufügen" i18n-aria-label="@@ButtonAddAriaLabel"
          matTooltip="Artikel hinzufügen" i18n-matTooltip="@@ButtonAddTooltip">
    <mat-icon>add</mat-icon>
    <span i18n="@@ButtonAdd">Hinzufügen</span>
  </button>

  <button mat-mini-fab class="icon-button"
          aria-label="Artikel bearbeiten" i18n-aria-label="@@ButtonEditAriaLabel"
          matTooltip="Artikel bearbeiten" i18n-matTooltip="@@ButtonEditTooltip">
    <mat-icon>edit</mat-icon>
    <span i18n="@@ButtonAdd">Bearbeiten</span>
  </button>


</mat-toolbar>
